<section class="alert-bar">
  <div class="container">
    <div class="alert  text-center">
      {{ message }}
    </div>
    <button class="close close--alert">
      <span class="sr-only">Close Alert Bar</span>
      <img src="{{ 'icon-close.svg' | asset_url }}" alt="">
    </button>
  </div>
</section>
