<div class="inner">
  <h2 class="heading--hero">
    This is what a banner header looks like
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <a href="#" class="btn btn--solid">Button 1</a>
</div>
