<div class="inner d-flex align-center justify-between">
  <span class="title">
    {{ block.settings.title }}
  </span>
  <a href="{{ block.settings.btn_url }}" class="link">
    {{ block.settings.btn_copy }}
  </a>
</div>
