<div class="swiper__nav swiper__nav--{{ color }}">
  <button class="arrow arrow--left">
    <span class="sr-only"> Previous Slide </span>
    <img src="{{ 'icon-chevron-left--white.svg' | asset_url }}" alt="">
  </button>
  <button class="arrow arrow--right">
    <span class="sr-only"> Next Slide </span>
    <img src="{{ 'icon-chevron-right--white.svg' | asset_url }}" alt="">
  </button>
</div>
