<section class="customer customer--login">
  <div class="container">
    <div class="customer__heading">
      <h1>Register</h1>
    </div>
    <div class="customer__content">
      <div class="customer__form">
        {% form 'create_customer' %}
          {% if form.errors %}
            <div class="form-errors">
              <h3 class="heading--four">Errors:</h3>
              <ul>
                {% for error in form.errors %}
                  <li>
                    <style>
                      input[name='customer[{{ form.errors.translated_fields[error] }}]'] {
                        border-color: #81091c !important;
                      }
                    </style>
                    {% if error == 'form' %}
                      {{ form.errors.messages[error] }}
                    {% else %}
                      {{ form.errors.translated_fields[error] }} - {{ form.errors.messages[error] }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          <div class="form__group">
            <label class="sr-only" for="first-name">First name</label>
            <input type="text" placeholder="First name" name="customer[first_name]">
          </div>

          <div class="form__group">
            <label class="sr-only" for="last-name">Last name</label>
            <input type="text" placeholder="Last name" name="customer[last_name]">
          </div>

          <div class="form__group">
            <label class="sr-only" for="email">Email</label>
            <input type="email" placeholder="Email" name="customer[email]">
          </div>

          <div class="form__group">
            <label class="sr-only" for="password">Password</label>
            <input type="password" placeholder="Password" name="customer[password]">
          </div>

          <div class="actions d-flex justify-center">
            <button type="submit" class="btn btn--solid">Create</button>
            <span>Already have an account? <a href="/account/login">Login</a></span>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</section>
